<div class="row p-3">
    <div class="col-12 table-responsive">
        <app-progress-bar></app-progress-bar>
    </div>
</div>

<button (click)="getAllUsers()">allUsers</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>userName</th>
            <th>UserLength</th>
        </tr>
    </thead>
    <tr *ngFor="let user of jsonUsers">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>
            <app-progress-bar [progressValue]="user.name.length+40"></app-progress-bar>
            </td>
    </tr>
</table>
<div class="row p-3">
    <button (click)="getComplaintUsers()">Complaint Users</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Email</th>
                <th>password</th>
                <th>Full Name</th>
                <th>Mobile No</th>
            </tr>
        </thead>
        <tr *ngFor="let user of complaintUsers;">
            <td>{{user.userId}}</td>
            <td>{{user.emailId}}</td>
            <td>{{user.password}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.mobileNo}}</td>
        </tr>
    </table>
</div>

<!--
<button (click)="getCustomData()">getCustomData</button> 
<div class="row p-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Address 1 </th>
                <th>Address 2 </th>
                <th> State </th>
                <th> Zip </th>
            </tr>
        </thead>
        <tr *ngFor="let user of userList;">
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.address}}</td>
            <td>{{user.address2}}</td>
            <td>{{user.state}}</td>
            <td>{{user.zip}}</td>
        </tr>
    </table>
</div> -->